/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}


/// ADDS A BROWSER PREFIX TO THE PROPERTY */

@mixin css3-prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -khtml-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}


///

@mixin transform($params) {
    @include css3-prefix('transform', $params);
}


/// TRANSITION */

@mixin transition($properties...) {
    @if length($properties) >=1 {
        @include css3-prefix('transition', $properties);
    }
    @else {
        @include css3-prefix('transition', $what: all, $length: 1s, $easing: ease-in-out);
    }
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin breakpoint($map) {
    $query: "";

    @if map-has-key($map, min) {
        $query: append($query, "(min-width: #{map-get($map, min)})");
    }

    @if map-has-key($map, min) and map-has-key($map, max) {
        $query: append($query, "and");
    }

    @if map-has-key($map, max) {
        $query: append($query, "(max-width: #{map-get($map, max)})");
    }

    @media screen and #{$query} {
        @content;
    }
}

@include keyframes(accordionReveal) {
    0% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 0;
        @include transform(scaleY(0));
    }
    70% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 0;
        @include transform(scaleY(1));
    }
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 1;
        @include transform(scaleY(1));
    }
}

$color__lighter-gray: #f9f9f9;
$color__medium-gray: #e2e2e2;
$color__shadow: #e3e1e3;
$color__black: #000;
$color__white: #fff;
$color__whp-gold: #EEB111;
$color__whp-gray: #7B7B7B;
$color__shadow: #e3e1e3;
$color__whp-chrome: #6E6E6E;
$color__whp-red: #B22236;

#review-surround {
    padding-bottom: 3rem;
}

#washer_chart {
    @media (min-width: 1200px){ 
        padding: 3rem 0 0;
    }
    p {
        font-family: 'Helvetica Neue', 'Helvetica Neue LT W01_55', 'Helvetica Neue LT W01_71488914', Helvetica, Arial, sans-serif;
    }
}

#washer-comparison {
    margin-bottom: 4rem;
}

#washer-comparison,
#washer-reviews {
    @media (max-width: 768px){ 
        margin-top: 4rem;
    }
}

#washer-comparison h2 {
    margin-bottom: 0;

    @media (min-width: 768px){ 
        margin-bottom: 25px;
    }
    @media (min-width: 1200px){ 
        margin-bottom: 0;
    }
}

.products-columns {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: 768px){ 
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
    }


    .product {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        position: relative;

        @media (min-width: 768px){
            padding-top: 3rem;
            padding-bottom: 3rem;

            &:nth-child(even) {
                background-color: $color__lighter-gray;
            }
        }

        .desktop__row-feature-label {
            position: absolute;
            margin-top: -2rem;
            margin-left: 1rem;
            font-weight: 600;
            color: $color__whp-gray;
            font-weight: 600;
            font-size: 1.2rem;
            width: 120px;
            z-index: 10;

            display: none;
            opacity: 0;

            @media (min-width: 768px){
                display: block;
                opacity: 1;
            }

            @media (min-width: 1150px){
                width: 400px;
            }

            &-exp {
                position: absolute;
                margin-top: -2rem;
                margin-left: 1rem;
                font-weight: 600;
                color: $color__whp-gray;
                font-weight: 600;
                font-size: 1.2rem;
                width: 120px;
                z-index: 10;

                display: none;
                opacity: 0;

                @media (min-width: 1000px){
                    display: block;
                    opacity: 1;
                }

                @media (min-width: 1150px){
                    width: 400px;
                }

                span {
                    position: relative;
                    margin-left: 1.25rem;
                    font-size: 1rem;
                    margin-top: 0.5rem;
                    display: inline-block;
                    color: $color__whp-gold;

                    &:before {
                        content: "";
                        background-color: transparent;
                        border: 2px solid $color__whp-gold; 
                        border-radius: 5px;
                        position: absolute;
                        top: 2px;
                        left: -1.25rem;
                        width: 10px;
                        height: 10px;
                    }

                    @media (min-width: 1150px){ 
                        margin-left: 2.5rem;
                        font-size: 1.2rem;
                        margin-top: 0;
                    }
                }
            }
        }

        .top-info,
        .basic-info {
            text-align: center;
        }

        .top-info {
            border-bottom: 1px solid $color__medium-gray;

            .product__capacity {
                &-number {
                    font-weight: 400;
                    font-size: 2rem;
                    line-height: 1;

                    @media (min-width: 768px){
                        font-size: 2.5rem;
                        color: $color__black;
                    }
                    @media (min-width: 1024px){
                        font-size: 3.25rem;
                        color: $color__black;
                    }
                    @media (min-width: 1100px){
                        font-size: 4rem;
                        color: $color__black;
                    }
                }
                &-label {
                    font-size: 1.3rem;
                    color: $color__whp-gray;

                    @media (min-width: 768px){
                        font-size: 1.3rem;
                    }
                }
            }
            .product__image {
                margin: 0 2rem 0;
                display: none;
                opacity: 0;
                @include transition(all 0.3s ease);

                &.selected {
                    display: block;
                    opacity: 1;
                }

                @media (min-width: 768px){
                    margin: 1rem 2rem 0;
                }

                img {
                    display: block;
                    width: 200px;
                    height: auto;
                    margin: 0 auto;

                    @media (min-width: 400px){ 
                        width: 300px;
                    }
                    @media (min-width: 500px){ 
                        width: 350px;
                    }
                    @media (min-width: 768px){ 
                        width: 100%;
                    }

                    @media (min-width: 992px){ 
                        width: 80%;
                    }
                }
            }
        }

        .basic-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            padding-bottom: 0;
            padding-top: 1rem;

            @media (min-width: 768px){
                min-height: 140px;
                border-bottom: 1px solid $color__medium-gray;
                padding-bottom: 4rem;
                padding-top: 0;
            }

            .model__number {
                font-size: 1.5rem;
                color: $color__black;
                
                @media (max-width: 767px){
                    font-size: 1.3rem;
                    margin: 0 0;
                }
            }

            .mobile-visible {
                display: block;
                opacity: 1;

                @media (min-width: 768px){ 
                    display: none;
                    opacity: 0;
                }
            }

            .product__color {
                font-size: 1rem;
                margin: 1rem 0;
                padding: 0;
                list-style: none;
                text-align: center;
                width: 100%;
                display: none;
                opacity: 0;

                @media (min-width: 768px){ 
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    opacity: 1;
                }


                .color__nav {
                    flex-basis: 20%;
                    line-height: 1.3;
                    color: $color__whp-gray;
                    cursor: pointer;
                    margin: 0 1rem;
                    @include transition(all 0.3s ease);

                    @media (min-width: 1250px){
                        flex-basis: 30%;
                    }

                    span {
                        content: '';
                        display: block;
                        margin: 0.5rem auto;
                        width: 20px;
                        height: 20px;
                        position: relative;
                        border-radius: 10px;
                        @include transition(all 0.3s ease);
                    }

                    &:hover {
                        color: $color__black;

                        span {
                            @include transform(scale(1.2));
                        }
                    }

                    &.selected {
                        span {
                            &:after {
                                content: '';
                                position: absolute;
                                left: -2px;
                                top: -2px;
                                width: 24px;
                                height: 24px; 
                                border: 1px solid #AEA8A6;
                                background-color: transparent;
                                border-radius: 12px;
                            }
                        }
                    }

                    &.white {
                        span {
                            background: #e3e3e3;
                            background: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
                            background: -webkit-linear-gradient(top, #ffffff 0%,#e3e3e3 100%);
                            background: linear-gradient(to bottom, #ffffff 0%,#e3e3e3 100%);
                        }
                    }
                    &.red {
                        span {
                            background-color: $color__whp-red;
                        }
                    }
                    &.chrome {
                        span {
                            background-color: $color__whp-chrome;
                        }
                    }
                }
                
            }
        }

        .feature__highlight-info {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            padding: 2rem 0 0;
            text-align: center;
            color: $color__black;
            font-size: 1.3rem;

            @media (min-width: 768px){
                padding: 3rem 0 0;
                min-height: 190px;
            }

            @media (min-width: 992px){
                padding: 3rem 0 0;
                min-height: 180px;
            }

            @media (min-width: 1000px){
                border-bottom: 1px solid $color__medium-gray;
            }

            @media (min-width: 1200px){
                min-height: 170px;
            }

            .feature__highlight-icon {
                svg {
                    fill: $color__black;
                    height: 25px;
                    margin: 0 auto;

                    @media (min-width: 768px){
                        height: 30px;
                    }
                }
            }

            .feature__highlight-body {
                padding: 1rem 2rem 2rem;
            }
        }

        .feature__info {
            position: relative;
            text-align: left;
            color: $color__black;
            font-size: 1.3rem;
            display: none;
            opacity: 0;
            @include transition(all 0.3s ease);

            /*@media (min-width: 768px){
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;
                padding: 1.5rem 0 0;
                min-height: 250px;
                opacity: 1;
            }

            @media (min-width: 820px){
                min-height: 230px;
            }

            @media (min-width: 968px){
                min-height: 200px;
            }*/

            @media (min-width: 1000px){
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;
                padding: 1.5rem 0 0;
                min-height: 195px;
                opacity: 1;
            }

            @media (min-width: 1190px){
                min-height: 180px;
            }

            ul {
                list-style: none;
                padding: 0 2rem 2rem;
                width: 100%;

                @media (min-width: 768px){
                    padding: 1rem 2rem 2rem;
                }

                li {
                    margin: 0 0 1rem;
                    padding: 0 0 0 1rem;
                    position: relative;

                    &:before {
                            content: "";
                            background-color: transparent;
                            border: 2px solid $color__black; 
                            border-radius: 5px;
                            position: absolute;
                            top: 3px;
                            left: -0.75rem;
                            width: 10px;
                            height: 10px;
                    }

                    &.step-up {
                        &:before {
                            border: 2px solid $color__whp-gold; 
                        }
                    }
                }
            }

        }

        .CTA__Desktop {
            text-align: center;
            font-size: 1.3rem;

            @media (min-width: 768px){
                min-height: 150px;
            }

            .matched__label {
                font-size: 1.3rem;
                color: $color__black;
                margin: 1.5rem 0 0.5rem;
            }

            .button {

                &.primary {
                    padding: 9px 0;
                    width: 80%;
                    margin: 0 auto;

                    @media (min-width: 768px){
                        font-size: 1.3rem;
                        display: block;
                        opacity: 1;
                    }
                }

                &.secondary {
                    display: inline-block;
                    min-height: 20px;
                    width: 40%;
                    padding: 9px 0;
                    @include transition(all 0.3s ease);

                    &:hover {
                        color: $color__black;
                        border-color: $color__black;
                    }

                    @media (min-width: 768px){
                        font-size: 1rem;
                    }
                }
            }

            /*.desktop-visible {
                display: none;
                opacity: 0;

                @media (min-width: 768px){
                    display: block;
                    opacity: 1;
                }
            }*/

            /*.matching-dryer {
                display: none;
                opacity: 0;
                padding: 3rem 0 0;
                @include transition(all 0.3s ease);

                @media (min-width: 768px){
                    padding: 0;
                    display: block;
                    opacity: 1;
                }

                &.active {
                    display: block;
                    opacity: 0;
                    @include transform(scale(0));
                    @include css3-prefix(animation, 0.25s 0s 1 both accordionReveal);
                    @include css3-prefix(transform-origin, top);
                }

                .button {
                    &.secondary {
                        display: inline-block;
                        font-size: 1.1rem;
                        min-height: 20px;
                        width: 40%;
                        padding: 9px 0;
                    }
                }
            }*/
        }

        /*.mobile__label {
            border-top: 1px solid $color__medium-gray;
            border-bottom: 1px solid $color__medium-gray;
            display: block;
            opacity: 1;
            position: relative;
            padding: 1.5rem 2rem;
            font-weight: 600;
            cursor: pointer;
            margin-top: -1px;
            text-align: left;
            font-weight: 600;

            svg {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 2rem;
                top: 50%;
                @include transform(translateY(-50%) rotate(90deg));
                @include transition(all 0.3s ease);
            }

            &.active {
                svg {
                    @include transform(translateY(-50%) rotate(-90deg));
                }
            }

            @media (min-width: 768px){
                display: none;
                opacity: 0;
            }
        }*/

    }
}


.swiper-button-prev, 
.swiper-button-next {
    top: 150px;
    width: 40px;
    height: 40px;
    -moz-background-size: 10px 30px;
    -webkit-background-size: 10px 30px;
    background-size: 10px 30px;

    @media (min-width: 400px){ 
        top: 175px;
    }
}
.swiper-button-next {
    left: auto;
    right: 10px;
}
.swiper-button-prev {
    left: 10px;
    right: auto;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
    top: 135px;

    @media (min-width: 400px){ 
        top: 195px;
    }
    @media (min-width: 500px){ 
        top: 225px;
    }
}
.swiper-pagination {
    height: 10px;
}
.swiper-pagination-bullet {
    -webkit-box-shadow: 2px 2px 2px 0px rgba($color__black, 0.125);
    -moz-box-shadow: 2px 2px 2px 0px rgba($color__black, 0.125);
    box-shadow: 2px 2px 2px 0px rgba($color__black, 0.125);
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: $color__black;
}