/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}


/// ADDS A BROWSER PREFIX TO THE PROPERTY */

@mixin css3-prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -khtml-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}


///

@mixin transform($params) {
    @include css3-prefix('transform', $params);
}


/// TRANSITION */

@mixin transition($properties...) {
    @if length($properties) >=1 {
        @include css3-prefix('transition', $properties);
    }
    @else {
        @include css3-prefix('transition', $what: all, $length: 1s, $easing: ease-in-out);
    }
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin breakpoint($map) {
    $query: "";

    @if map-has-key($map, min) {
        $query: append($query, "(min-width: #{map-get($map, min)})");
    }

    @if map-has-key($map, min) and map-has-key($map, max) {
        $query: append($query, "and");
    }

    @if map-has-key($map, max) {
        $query: append($query, "(max-width: #{map-get($map, max)})");
    }

    @media screen and #{$query} {
        @content;
    }
}

$color__lighter-gray: #f9f9f9;
$color__medium-gray: #e2e2e2;
$color__shadow: #e3e1e3;
$color__black: #000;
$color__white: #fff;
$color__whp-gold: #EEB111;
$color__whp-gray: #7B7B7B;

@include keyframes(titleReveal) {
    0% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 0;
        @include transform(translateY(-30%));
    }
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 1;
        @include transform(translateY(0));
    }
}

@include keyframes(optionReveal) {
    0% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 0;
        @include transform(translateY(30%));
    }
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 1;
        @include transform(translateY(0));
    }
}

@include keyframes(overlayReveal) {
    0% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 0;
    }
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 1;
    }
}

@include keyframes(indFade) {
    0% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 0;
        @include transform(scale(0.75));
        background-color: $color__whp-gold;
    }
    50% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 1;
        background-color: transparent;
    }
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 0;
        @include transform(scale(1.2));
    }
}
@include keyframes(indRing) {
    0% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 1;
        @include transform(translateY(-50%) translateX(-50%) scale(1));
    }
    50% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 0;
        @include transform(translateY(-50%) translateX(-50%) scale(1.5)); 
    }
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 0;
        @include transform(translateY(-50%) translateX(-50%) scale(1)); 
    }
}

@include keyframes(fadeOut) {
    0% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 1;
    }
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 0;
        height: 0;
    }
}
@include keyframes(fadeIn) {
    0% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 0;
    }
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        opacity: 1;
    }
}
@include keyframes(fadeOutZoom) {
    0% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        @include transform(scale(1)); 
        opacity: 1;
    }
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        @include transform(scale(1.4)); 
        opacity: 0;
    }
}
@include keyframes(fadeInZoom) {
    0% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        @include transform(scale(1.3)); 
        opacity: 0;
    }
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        @include transform(scale(1)); 
        opacity: 1;
    }
}
@include keyframes(bgToLight) {
    0% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        background-color: $color__black;
    }
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        background-color: $color__lighter-gray;
    }
}

@include keyframes(toTop) {
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        @include transform(translateY(0)); 
    }
}

@include keyframes(toLeft) {
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        left: 0;
    }
}

@include keyframes(toLeftPartial) {
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        left: 100%;
    }
    100% {
        @include css3-prefix(transition-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
        left: 240px;
    }
}

#vid_poster {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    
    &:before {
        content: '';
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%);
        background: linear-gradient(135deg, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%);
        opacity: 1;
        z-index: 2;
    }
}

#itc-vid {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

@media (max-width: 760px){
    #vid_poster {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background: $color__black url('/content/dam/business-unit/whirlpool/en-us/marketing-content/site-assets/page-content/intuitive-touch-controls/images/care-hero-itc_mobile_v2.jpg?$12-col-desktop$') no-repeat center center;
        background-size: cover;

        &:before {
            content: '';
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 100%);
            background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%);
            background: linear-gradient(135deg, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.75) 100%);
            opacity: 1;
            z-index: 2;
        }
    }

    #itc-vid {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

#intuitive-touch-hero {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color__black;
}

#intuitive-touch-hero-container {
    padding: 0;
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 450px;
    text-align: center;
    color: $color__white;

    @media (min-width: 500px){
        padding: 1.5rem 0 0;
    }
    @media (min-width: 992px){
        padding: 3rem 0 0;
        min-height: 700px;
    }

    @media (min-width: 1400px){
        padding: 3rem 0 0;
        min-height: 750px;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0
    }

    &:before {
        z-index: 2;
    }

    &:after {
        z-index: 1;
    }

    &.reveal {
        background: $color__black;

        &:before {
            background: -moz-linear-gradient(top, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0) 100%);
            opacity: 1;
            z-index: 2;

            @media (min-width: 760px){
                background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%);
                background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%);
            }
        }

        &:after {
            content: '';
            background: $color__black url("/content/dam/business-unit/whirlpool/en-us/marketing-content/site-assets/page-content/intuitive-touch-controls/images/header_set-mobile.jpg?$12-col-desktop$") no-repeat top center;
            background-size: cover;
            @include css3-prefix(animation, 0.5s 0s 1 both fadeIn);

            @media (min-width: 760px){
                background: $color__black url("/content/dam/business-unit/whirlpool/en-us/marketing-content/site-assets/page-content/intuitive-touch-controls/images/header_set.jpg?$12-col-desktop$") no-repeat top center;
            }
        }
    }

    &.active {
        color: $color__black;
        background: $color__black;
        @include css3-prefix(animation, 0.5s 0.25s 1 both bgToLight);
        @include css3-prefix(transform-origin, top);
        
        &:before,
        &:after {
            opacity: 1;
            @include css3-prefix(animation, 0.5s 0.125s 1 both fadeOutZoom);
            @include css3-prefix(transform-origin, top);
        }
    }
    .intuitive-touch-hero-header {
        z-index: 10;

        &.initial {
            @include transform(translateY(25vh));
            @include css3-prefix(transform-origin, top);
        }
        &.reveal {
            @include transform(translateY(25vh));
            @include css3-prefix(animation, 1.25s 0s 1 both toTop);
            @include css3-prefix(transform-origin, top);
        }
        &.active {

        }

        @media (min-width: 992px){
            padding: 3rem 0 0;
        }

        .feature__title {
            display: none;
            opacity: 0;

            &.active {
                display: block;
                opacity: 0;
                @include transform(translateY(-30%));
                @include css3-prefix(animation, 0.5s 0s 1 both titleReveal);
                @include css3-prefix(transform-origin, top);
            }

            h2 {
                color: $color__black;
            }
        }

        .hero__introduction {
            font-family: 'Helvetica Neue', 'Helvetica Neue LT W01_55', 'Helvetica Neue LT W01_71488914', Helvetica, Arial, sans-serif;

            &-title {
                display: none;
                opacity: 0;
                margin-bottom: 3rem;

                h2 {
                    color: $color__white;
                    position: relative;
                    display: inline-block;

                    &:after {
                        content: '';
                        position: absolute;
                        height: 4px;
                        background-color: $color__whp-gold;
                        right: 0;
                        bottom: -2rem;
                    }

                    span {
                        display: inline-block;
                        position: relative;
                        
                        &:after{
                            content: '';
                            position: absolute;
                            height: 4px;
                            background-color: $color__whp-gold;
                            right: 0;
                            left: 100%;
                            bottom: -2rem;
                        }
                    }
                }

                &.reveal {
                    display: block;
                    opacity: 1;
                    
                    h2 {
                        &:after{
                            left: 100%;
                            @include css3-prefix(animation, 1.25s 0s 1 both toLeft);
                        }
                    }
                    span {
                        display: inline-block;
                        position: relative;
                        
                        &:after{
                            left: 0;
                        }
                    }
                }

                &.initial {
                    display: block;
                    opacity: 1;
                    
                    h2 {
                        @include css3-prefix(animation, 1s 0s 1 both fadeInZoom);

                        span {
                            @include css3-prefix(animation, 1s 2s 1 both fadeInZoom);

                            &:after{
                                left: 100%;
                                @include css3-prefix(animation, 0.5s 2.75s 1 both toLeft);
                            }
                        }
                    }
                }
                
            }
            &-body {
                display: none;
                opacity: 0;

                &.reveal {
                    display: block;
                    @include transform(translateY(-30%));
                    @include css3-prefix(animation, 1s 1s 1 both titleReveal);
                    @include css3-prefix(transform-origin, top);
                }

                p {
                    color: $color__white;
                    font-weight: lighter;
                    font-size: calc(16px + 0.5vw);
                    line-height: 1.3;
                    max-width: 400px;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: 'Helvetica Neue', 'Helvetica Neue LT W01_55', 'Helvetica Neue LT W01_71488914', Helvetica, Arial, sans-serif;

                    &.small_cta {
                        font-size: 1.3rem;
                        font-weight: 600;
                    }
                }
            }

            &.inactive {
                opacity: 1;
                @include css3-prefix(animation, 0.5s 0s 1 both fadeOut);
                @include css3-prefix(transform-origin, top);
            }
        }
    }
    
}

.option__list {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    opacity: 0;
    display: none;

    &.reveal {
        opacity: 0;
        display: flex;
        @include css3-prefix(animation, 1s 1.5s 1 both fadeIn);
        @include css3-prefix(transform-origin, top);
    }

    @media (min-width: 500px){
        margin: 2rem 0 0;
    }

    @media (min-width: 991px){
        margin: 4rem 0 0;
    }

    li {
        flex-grow: 1;
        flex-basis: 33.3%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        @media (min-width: 992px){
            flex-basis: 16%;
            flex-wrap: nowrap;
            
            &:not(:last-child) {
                border-right: 1px solid $color__medium-gray;
            }
        }

        @media (max-width: 991px){
            border-right: 1px solid $color__medium-gray;

            &:nth-child(3n+3) {
                border-right: none;
            }

            &:nth-child(-n+3) {
                border-bottom: 1px solid $color__medium-gray;
            }
        }
    }

    .option__list-item {
        display: block;
        padding: 1.5rem 0.25rem;
        flex-wrap: wrap;
        @include transition(all 0.3s ease);
        text-decoration: none;
        color: $color__white;
        font-weight: 600;
        font-family: 'Helvetica Neue', 'Helvetica Neue LT W01_55', 'Helvetica Neue LT W01_71488914', Helvetica, Arial, sans-serif;

        @media (min-width: 992px){
            padding: 0;
            
            &:not(:last-child) {
                border-right: 1px solid $color__white;
            }
        }

        .option__list-title {
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.3;

            @media (min-width: 1250px){
                font-size: 1.3rem;
            }
        }
        .option__list-icon {
            svg {
                height: 25px;
                fill: $color__white;
                @include transition(all 0.3s ease);
            }
        }
        &:hover,
        &.active {
            a {
                color: $color__whp-gold;
                text-decoration: none;
            }
            color: $color__whp-gold;
            .option__list-icon {
                svg {
                    fill: $color__whp-gold;
                }
            }
        }
        &:hover {
            cursor: pointer;
            .option__list-icon {
                svg {
                    @include transform(scale(1.1));
                }
            }
        }
    }

    &.active {
        opacity: 0;
        display: flex;
        @include transform(translateY(-30%));
        @include css3-prefix(animation, 0.5s 0.5s 1 both titleReveal);
        @include css3-prefix(transform-origin, top);

        .option__list-item {
            color: $color__black;
            border-color: $color__medium-gray;

            .option__list-icon {
                svg {
                    fill: $color__black;
                }
            }
            &:hover,
            &.active {
                a {
                    color: $color__whp-gold;
                    text-decoration: none;
                }
                color: $color__whp-gold;
                .option__list-icon {
                    svg {
                        fill: $color__whp-gold;
                    }
                }
            }
            &:hover {
                cursor: pointer;
            }
        }

    }
}

#intuitive-touch-panel {
    padding: 0;
    -webkit-box-shadow: 2px 2px 17px 0px rgba(0,0,0,.15);
    -moz-box-shadow: 2px 2px 17px 0px rgba(0,0,0,.15);
    box-shadow: 2px 2px 17px 0px rgba(0,0,0,.15);
    border-radius: 2px 2px 0 0;
    background-color: $color__white;
    min-height: 230px;
    opacity: 0;
    visibility: hidden;
    display: none;
    margin-top: 1.5rem;
    @media (min-width: 768px){
        min-height: 200px;
    }
    @media (min-width: 768px){
        padding: 1rem 0 1rem;
    }

    @media (min-width: 992px){
        padding: 4rem 2rem 2rem;
        margin-top: 4.5rem;
    }
    @media (min-width: 1000px){
        min-height: 300px;
    }

    &.active {
        opacity: 0;
        display: block;
        visibility: visible;
        @include transform(translateY(30%));
        @include css3-prefix(animation, 0.5s 0s 1 both optionReveal);
        @include css3-prefix(transform-origin, top);
    }

    .option__content {
        opacity: 0;
        visibility: hidden;
        display: none;
        //@include transform(translateY(30%));
        @include transition(all 0.3s ease);

        @media (min-width: 992px){
            justify-content: space-between;
            align-items: center;
        }

        &.active {
            display:block;
            opacity: 0;
            visibility: visible;
            //@include transform(translateY(30%));
            @include css3-prefix(animation, 0.25s 0.25s 1 both fadeIn);
            @include css3-prefix(transform-origin, top);

            @media (min-width: 992px){
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &-title {
            font-size: 2rem;
            text-align: center;
            color: $color__black;
            line-height: 1.2;
            flex-grow: 1;
            font-weight: 600;
            margin: 1rem 0;

            @media (min-width: 992px){
                text-align: left;
                font-size: 2.25rem;
                margin: 0;
            }
        }

        &-info {
            display: flex;
            justify-content: space-around;
            align-items: stretch;
            flex-grow: 2;

            .option {
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                padding: 1.5rem;
                text-align: center;
                margin-bottom: 1.5rem;

                &:not(:last-child) {
                    border-right: 1px solid $color__medium-gray;
                }

                @media (min-width: 992px) {
                    flex-basis: 45%;
                    border: 1px solid $color__medium-gray;
                    border-radius: 10px;
                    margin-bottom: 0;
                    padding: 2rem 1.5rem;
                }

                .info {
                    &-label {
                        font-weight: 600;
                        color: $color__whp-gray;
                        text-transform: uppercase;
                        font-size: 1rem;

                        @media (min-width: 992px){
                            display: inline-block;
                            padding: 0 1rem;
                            position: absolute;
                            top: 0;
                            left: 50%;
                            width: 55%;
                            font-size: 1.3rem;
                            background-color: $color__white;
                            @include transform(translateY(-50%) translateX(-50%) scale(1));
                        }

                    }
                    &-title {
                        color: $color__whp-gold;
                        font-size: calc(20px + 0.5vw);
                        line-height: 1.2;

                        sup {
                            top: -2em;
                            font-size: 25%;
                        }

                        @media (min-width: 992px){
                            margin: 1rem 0;
                            font-size: 3rem;
                        }
                    }
                    &-desc {
                        font-size: calc(8px + 0.5vw);
                    }
                }
            }
        }

        &-tip {
            opacity: 0;
            visibility: hidden;
            text-align: center;
            height: 0;
            flex-grow: 1;

            strong {
                font-weight: 600;
            }

            svg {
                height: 18px;
                fill: $color__black;
                display: block;
                margin: 0 auto 0.5rem;
            }

            @media (min-width: 992px){ 
                opacity: 1;
                visibility: visible;
                height: auto;
            }
        }
    }
}

#intuitive-touch-console {
    background-color: $color__white;
    margin-top: -50px;
    opacity: 0;
    visibility: hidden;
    display: none;
    position: relative;

    @media (min-width: 768px){
        background-color: transparent;
    }
    @media (min-width: 1148px){
        margin-top: -100px;
    }

    &.active {
        opacity: 0;
        display: block;
        visibility: visible;
        @include transform(translateY(30%));
        @include css3-prefix(animation, 0.5s 0s 1 both optionReveal);
        @include css3-prefix(transform-origin, top);
    }

    .console__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        display: none;
        @include transition(all 0.3s ease);

        &.active {
            opacity: 1;
            display: block;
            visibility: visible;
            /*@include css3-prefix(animation, .25s .25s 1 both overlayReveal);
            @include css3-prefix(transform-origin, top);*/
        }

        .wtw-ind,
        .htw-ind {
            position: absolute;
            display: block;
            visibility: visible;
            opacity: 0;
            width: 24px;
            height: 24px;
            border: 2px solid $color__whp-gold;
            border-radius: 12px;
            top: 29%;
            @include css3-prefix(transform-origin, center);

            @media (max-width: 850px){ 
                display: none;
                visibility: hidden;
                opacity: 0;
            }

            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 30px;
                height: 30px;
                left: 50%;
                top: 50%;
                border: 1px solid $color__whp-gold;
                border-radius: 15px;
                @include transform(translateY(-50%) translateX(-50%));
                @include css3-prefix(transform-origin, center);

            }
        }
        .wtw-ind {
            @include css3-prefix(animation, 2.5s 0s infinite both indFade);

            &:after {
                @include css3-prefix(animation, 2.5s 0s infinite both indRing);
            }
        }
        .htw-ind {
            @include css3-prefix(animation, 2.5s 0.75s infinite both indFade);

            &:after {
                @include css3-prefix(animation, 2.5s 0.75s infinite both indRing);
            }
        }
    }

        #sportswear-overlay{
            .wtw-ind {
                left: 30%;
            }
            .htw-ind {
                right: 29%;
            }
        }
        #comforters-overlay {
            .wtw-ind {
                left: 41%;
            }
            .htw-ind {
                right: 29%;
            }
        }
        #baby__clothes-overlay {
            .wtw-ind {
                left: 30%;
            }
            .htw-ind {
                right: 42%;
            }
        }
        #jeans-overlay {
            .wtw-ind {
                left: 21%;
            }
            .htw-ind {
                right: 34%;
            }
        }
        #handwash__fabrics-overlay {
            .wtw-ind {
                left: 35%;
            }
            .htw-ind {
                right: 34%;
            }
        }
        #kidswear-overlay {
            .wtw-ind {
                left: 21%;
            }
            .htw-ind {
                right: 22%;
            }
        }

    img {
        width: 100%;
        height: auto;
    }
}
