.product-section {
    .product-section {
        &-content {
            h3 {
                color: $color__black;
                line-height: 1.1;
            }
        }
    }
}
.title {
    &-col {
            h3 {
                color: $color__black;
                line-height: 1.1;
                text-align: center;
        }
    }
}

@media (min-width: 768px) {
    .product-section.left-layout{
        .product-section {
            &-content{
                text-align: right;
            }
        }
    }
}