/*update branch - 6/16/17 10:51am*/
html.aem-AuthorLayer-Edit .baseComponent.raw-html{
min-height: 50px;
}
body {
    font-family: 'Helvetica Neue', 'Helvetica Neue LT W01_55', 'Helvetica Neue LT W01_71488914', Helvetica, Arial, sans-serif;
}
body > div.container{
    width: 100% !important;
}
#main h3 {
    color: $color__black;
    line-height: 1.1;
    //font-size: 3.25rem;
}