#washer-reviews,
#review-surround {
    display: none;
    visibility: hidden;
}

.card-container {
    @media (min-width: 768px){
        padding: 50px 0;
    }
}
.card {
    padding: 0;
    -webkit-box-shadow: 2px 2px 17px 0px rgba(0,0,0,.15);
    -moz-box-shadow: 2px 2px 17px 0px rgba(0,0,0,.15);
    box-shadow: 2px 2px 17px 0px rgba(0,0,0,.15);
    border-radius: 2px;
    background: #fff;
    text-align: left;
    overflow: hidden;

    @media (min-width: 768px){
        min-height: 450px;
    }

    .card-content .row {
        margin-left: 0;
        margin-right: 0;
    }

    @media (max-width: 768px){
        margin: 2rem 0;
    }
}

.review-body {
    p {
        color: $color__black;
        font-size: 1.5em;
        font-weight: lighter;
        line-height: 1.3;
    }
    svg {
        margin-bottom: 1em;

        @media (min-width: 768px){
            margin-top: -20px;
        }
    }
    padding: 1em 1.5em 0;
}
.review-attribution {
    p {
        font-size: 0.75em;
    }
    padding: 0 1.5em 1em;
}