/*.product-section {
    border-bottom: none;
    padding: 40px 0;
}*/

/*div:not(.editor-panel).product-section .product-section-images img, div:not(.editor-panel).product-section .product-section-images picture {
    flex-shrink: 1;
}*/

/*.product-section h3 {
    @media (min-width: 767px){
        margin-top: 0;
    }
}*/

div:not(.editor-panel).product-section .product-section-images div.img-wrapper {
    @media (max-width: 1024px){
        max-height: 450px;
    }
}
@media (min-width: 1024px) {
    div:not(.editor-panel).product-section .product-section-images img, div:not(.editor-panel).product-section .product-section-images picture {
        flex-shrink: 1;
    }
}
@media (max-width: 1024px) {
    div.product-section {
        padding: 10px 0;
    }
}
@media (min-width: 1024px) {
    div.product-section {
        padding: 40px 0;
    }
}

@media (min-width: 1200px) {
    div.product-section {
        padding: 75px 0;
    }
}