/*update branch - 6/16/17 10:51am*/
html.aem-AuthorLayer-Edit .baseComponent.raw-html {
  min-height: 50px;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica Neue LT W01_55', 'Helvetica Neue LT W01_71488914', Helvetica, Arial, sans-serif;
}

body > div.container {
  width: 100% !important;
}

#main h3 {
  color: #000;
  line-height: 1.1;
}

/*.product-section {
    border-bottom: none;
    padding: 40px 0;
}*/
/*div:not(.editor-panel).product-section .product-section-images img, div:not(.editor-panel).product-section .product-section-images picture {
    flex-shrink: 1;
}*/
/*.product-section h3 {
    @media (min-width: 767px){
        margin-top: 0;
    }
}*/
@media (max-width: 1024px) {
  div:not(.editor-panel).product-section .product-section-images div.img-wrapper {
    max-height: 450px;
  }
}

@media (min-width: 1024px) {
  div:not(.editor-panel).product-section .product-section-images img, div:not(.editor-panel).product-section .product-section-images picture {
    flex-shrink: 1;
  }
}
@media (max-width: 1024px) {
  div.product-section {
    padding: 10px 0;
  }
}
@media (min-width: 1024px) {
  div.product-section {
    padding: 40px 0;
  }
}
@media (min-width: 1200px) {
  div.product-section {
    padding: 75px 0;
  }
}
.product-section .product-section-content h3 {
  color: #000;
  line-height: 1.1;
}

.title-col h3 {
  color: #000;
  line-height: 1.1;
  text-align: center;
}

@media (min-width: 768px) {
  .product-section.left-layout .product-section-content {
    text-align: right;
  }
}
#washer-reviews,
#review-surround {
  display: none;
  visibility: hidden;
}

@media (min-width: 768px) {
  .card-container {
    padding: 50px 0;
  }
}

.card {
  padding: 0;
  -webkit-box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background: #fff;
  text-align: left;
  overflow: hidden;
}
@media (min-width: 768px) {
  .card {
    min-height: 450px;
  }
}
.card .card-content .row {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 768px) {
  .card {
    margin: 2rem 0;
  }
}

.review-body {
  padding: 1em 1.5em 0;
}
.review-body p {
  color: #000;
  font-size: 1.5em;
  font-weight: lighter;
  line-height: 1.3;
}
.review-body svg {
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .review-body svg {
    margin-top: -20px;
  }
}

.review-attribution {
  padding: 0 1.5em 1em;
}
.review-attribution p {
  font-size: 0.75em;
}
