@-webkit-keyframes accordionReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scaleY(0);
    -khtml-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scaleY(1);
    -khtml-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: scaleY(1);
    -khtml-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes accordionReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scaleY(0);
    -khtml-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scaleY(1);
    -khtml-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: scaleY(1);
    -khtml-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-o-keyframes accordionReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scaleY(0);
    -khtml-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scaleY(1);
    -khtml-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: scaleY(1);
    -khtml-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes accordionReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scaleY(0);
    -khtml-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scaleY(1);
    -khtml-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: scaleY(1);
    -khtml-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
#review-surround {
  padding-bottom: 3rem;
}

@media (min-width: 1200px) {
  #washer_chart {
    padding: 3rem 0 0;
  }
}
#washer_chart p {
  font-family: 'Helvetica Neue', 'Helvetica Neue LT W01_55', 'Helvetica Neue LT W01_71488914', Helvetica, Arial, sans-serif;
}

#washer-comparison {
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  #washer-comparison,
  #washer-reviews {
    margin-top: 4rem;
  }
}

#washer-comparison h2 {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #washer-comparison h2 {
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  #washer-comparison h2 {
    margin-bottom: 0;
  }
}

.products-columns {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .products-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
.products-columns .product {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
        /*.mobile__label {
            border-top: 1px solid $color__medium-gray;
            border-bottom: 1px solid $color__medium-gray;
            display: block;
            opacity: 1;
            position: relative;
            padding: 1.5rem 2rem;
            font-weight: 600;
            cursor: pointer;
            margin-top: -1px;
            text-align: left;
            font-weight: 600;

            svg {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 2rem;
                top: 50%;
                @include transform(translateY(-50%) rotate(90deg));
                @include transition(all 0.3s ease);
            }

            &.active {
                svg {
                    @include transform(translateY(-50%) rotate(-90deg));
                }
            }

            @media (min-width: 768px){
                display: none;
                opacity: 0;
            }
        }*/
}
@media (min-width: 768px) {
  .products-columns .product {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .products-columns .product:nth-child(even) {
    background-color: #f9f9f9;
  }
}
.products-columns .product .desktop__row-feature-label {
  position: absolute;
  margin-top: -2rem;
  margin-left: 1rem;
  font-weight: 600;
  color: #7B7B7B;
  font-weight: 600;
  font-size: 1.2rem;
  width: 120px;
  z-index: 10;
  display: none;
  opacity: 0;
}
@media (min-width: 768px) {
  .products-columns .product .desktop__row-feature-label {
    display: block;
    opacity: 1;
  }
}
@media (min-width: 1150px) {
  .products-columns .product .desktop__row-feature-label {
    width: 400px;
  }
}
.products-columns .product .desktop__row-feature-label-exp {
  position: absolute;
  margin-top: -2rem;
  margin-left: 1rem;
  font-weight: 600;
  color: #7B7B7B;
  font-weight: 600;
  font-size: 1.2rem;
  width: 120px;
  z-index: 10;
  display: none;
  opacity: 0;
}
@media (min-width: 1000px) {
  .products-columns .product .desktop__row-feature-label-exp {
    display: block;
    opacity: 1;
  }
}
@media (min-width: 1150px) {
  .products-columns .product .desktop__row-feature-label-exp {
    width: 400px;
  }
}
.products-columns .product .desktop__row-feature-label-exp span {
  position: relative;
  margin-left: 1.25rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  display: inline-block;
  color: #EEB111;
}
.products-columns .product .desktop__row-feature-label-exp span:before {
  content: "";
  background-color: transparent;
  border: 2px solid #EEB111;
  border-radius: 5px;
  position: absolute;
  top: 2px;
  left: -1.25rem;
  width: 10px;
  height: 10px;
}
@media (min-width: 1150px) {
  .products-columns .product .desktop__row-feature-label-exp span {
    margin-left: 2.5rem;
    font-size: 1.2rem;
    margin-top: 0;
  }
}
.products-columns .product .top-info,
.products-columns .product .basic-info {
  text-align: center;
}
.products-columns .product .top-info {
  border-bottom: 1px solid #e2e2e2;
}
.products-columns .product .top-info .product__capacity-number {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
}
@media (min-width: 768px) {
  .products-columns .product .top-info .product__capacity-number {
    font-size: 2.5rem;
    color: #000;
  }
}
@media (min-width: 1024px) {
  .products-columns .product .top-info .product__capacity-number {
    font-size: 3.25rem;
    color: #000;
  }
}
@media (min-width: 1100px) {
  .products-columns .product .top-info .product__capacity-number {
    font-size: 4rem;
    color: #000;
  }
}
.products-columns .product .top-info .product__capacity-label {
  font-size: 1.3rem;
  color: #7B7B7B;
}
@media (min-width: 768px) {
  .products-columns .product .top-info .product__capacity-label {
    font-size: 1.3rem;
  }
}
.products-columns .product .top-info .product__image {
  margin: 0 2rem 0;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.products-columns .product .top-info .product__image.selected {
  display: block;
  opacity: 1;
}
@media (min-width: 768px) {
  .products-columns .product .top-info .product__image {
    margin: 1rem 2rem 0;
  }
}
.products-columns .product .top-info .product__image img {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}
@media (min-width: 400px) {
  .products-columns .product .top-info .product__image img {
    width: 300px;
  }
}
@media (min-width: 500px) {
  .products-columns .product .top-info .product__image img {
    width: 350px;
  }
}
@media (min-width: 768px) {
  .products-columns .product .top-info .product__image img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .products-columns .product .top-info .product__image img {
    width: 80%;
  }
}
.products-columns .product .basic-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 0;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .products-columns .product .basic-info {
    min-height: 140px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 4rem;
    padding-top: 0;
  }
}
.products-columns .product .basic-info .model__number {
  font-size: 1.5rem;
  color: #000;
}
@media (max-width: 767px) {
  .products-columns .product .basic-info .model__number {
    font-size: 1.3rem;
    margin: 0 0;
  }
}
.products-columns .product .basic-info .mobile-visible {
  display: block;
  opacity: 1;
}
@media (min-width: 768px) {
  .products-columns .product .basic-info .mobile-visible {
    display: none;
    opacity: 0;
  }
}
.products-columns .product .basic-info .product__color {
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;
  display: none;
  opacity: 0;
}
@media (min-width: 768px) {
  .products-columns .product .basic-info .product__color {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    opacity: 1;
  }
}
.products-columns .product .basic-info .product__color .color__nav {
  flex-basis: 20%;
  line-height: 1.3;
  color: #7B7B7B;
  cursor: pointer;
  margin: 0 1rem;
  -webkit-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 1250px) {
  .products-columns .product .basic-info .product__color .color__nav {
    flex-basis: 30%;
  }
}
.products-columns .product .basic-info .product__color .color__nav span {
  content: '';
  display: block;
  margin: 0.5rem auto;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.products-columns .product .basic-info .product__color .color__nav:hover {
  color: #000;
}
.products-columns .product .basic-info .product__color .color__nav:hover span {
  -webkit-transform: scale(1.2);
  -khtml-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.products-columns .product .basic-info .product__color .color__nav.selected span:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: 24px;
  height: 24px;
  border: 1px solid #AEA8A6;
  background-color: transparent;
  border-radius: 12px;
}
.products-columns .product .basic-info .product__color .color__nav.white span {
  background: #e3e3e3;
  background: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e3e3e3 100%);
}
.products-columns .product .basic-info .product__color .color__nav.red span {
  background-color: #B22236;
}
.products-columns .product .basic-info .product__color .color__nav.chrome span {
  background-color: #6E6E6E;
}
.products-columns .product .feature__highlight-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2rem 0 0;
  text-align: center;
  color: #000;
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .products-columns .product .feature__highlight-info {
    padding: 3rem 0 0;
    min-height: 190px;
  }
}
@media (min-width: 992px) {
  .products-columns .product .feature__highlight-info {
    padding: 3rem 0 0;
    min-height: 180px;
  }
}
@media (min-width: 1000px) {
  .products-columns .product .feature__highlight-info {
    border-bottom: 1px solid #e2e2e2;
  }
}
@media (min-width: 1200px) {
  .products-columns .product .feature__highlight-info {
    min-height: 170px;
  }
}
.products-columns .product .feature__highlight-info .feature__highlight-icon svg {
  fill: #000;
  height: 25px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .products-columns .product .feature__highlight-info .feature__highlight-icon svg {
    height: 30px;
  }
}
.products-columns .product .feature__highlight-info .feature__highlight-body {
  padding: 1rem 2rem 2rem;
}
.products-columns .product .feature__info {
  position: relative;
  text-align: left;
  color: #000;
  font-size: 1.3rem;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
            /*@media (min-width: 768px){
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;
                padding: 1.5rem 0 0;
                min-height: 250px;
                opacity: 1;
            }

            @media (min-width: 820px){
                min-height: 230px;
            }

            @media (min-width: 968px){
                min-height: 200px;
            }*/
}
@media (min-width: 1000px) {
  .products-columns .product .feature__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1.5rem 0 0;
    min-height: 195px;
    opacity: 1;
  }
}
@media (min-width: 1190px) {
  .products-columns .product .feature__info {
    min-height: 180px;
  }
}
.products-columns .product .feature__info ul {
  list-style: none;
  padding: 0 2rem 2rem;
  width: 100%;
}
@media (min-width: 768px) {
  .products-columns .product .feature__info ul {
    padding: 1rem 2rem 2rem;
  }
}
.products-columns .product .feature__info ul li {
  margin: 0 0 1rem;
  padding: 0 0 0 1rem;
  position: relative;
}
.products-columns .product .feature__info ul li:before {
  content: "";
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 5px;
  position: absolute;
  top: 3px;
  left: -0.75rem;
  width: 10px;
  height: 10px;
}
.products-columns .product .feature__info ul li.step-up:before {
  border: 2px solid #EEB111;
}
.products-columns .product .CTA__Desktop {
  text-align: center;
  font-size: 1.3rem;
            /*.desktop-visible {
                display: none;
                opacity: 0;

                @media (min-width: 768px){
                    display: block;
                    opacity: 1;
                }
            }*/
            /*.matching-dryer {
                display: none;
                opacity: 0;
                padding: 3rem 0 0;
                @include transition(all 0.3s ease);

                @media (min-width: 768px){
                    padding: 0;
                    display: block;
                    opacity: 1;
                }

                &.active {
                    display: block;
                    opacity: 0;
                    @include transform(scale(0));
                    @include css3-prefix(animation, 0.25s 0s 1 both accordionReveal);
                    @include css3-prefix(transform-origin, top);
                }

                .button {
                    &.secondary {
                        display: inline-block;
                        font-size: 1.1rem;
                        min-height: 20px;
                        width: 40%;
                        padding: 9px 0;
                    }
                }
            }*/
}
@media (min-width: 768px) {
  .products-columns .product .CTA__Desktop {
    min-height: 150px;
  }
}
.products-columns .product .CTA__Desktop .matched__label {
  font-size: 1.3rem;
  color: #000;
  margin: 1.5rem 0 0.5rem;
}
.products-columns .product .CTA__Desktop .button.primary {
  padding: 9px 0;
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .products-columns .product .CTA__Desktop .button.primary {
    font-size: 1.3rem;
    display: block;
    opacity: 1;
  }
}
.products-columns .product .CTA__Desktop .button.secondary {
  display: inline-block;
  min-height: 20px;
  width: 40%;
  padding: 9px 0;
  -webkit-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.products-columns .product .CTA__Desktop .button.secondary:hover {
  color: #000;
  border-color: #000;
}
@media (min-width: 768px) {
  .products-columns .product .CTA__Desktop .button.secondary {
    font-size: 1rem;
  }
}

.swiper-button-prev,
.swiper-button-next {
  top: 150px;
  width: 40px;
  height: 40px;
  -moz-background-size: 10px 30px;
  -webkit-background-size: 10px 30px;
  background-size: 10px 30px;
}
@media (min-width: 400px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 175px;
  }
}

.swiper-button-next {
  left: auto;
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
  right: auto;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  top: 135px;
}
@media (min-width: 400px) {
  .swiper-container-horizontal > .swiper-pagination-bullets {
    top: 195px;
  }
}
@media (min-width: 500px) {
  .swiper-container-horizontal > .swiper-pagination-bullets {
    top: 225px;
  }
}

.swiper-pagination {
  height: 10px;
}

.swiper-pagination-bullet {
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.125);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.125);
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #000;
}
