@-webkit-keyframes titleReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(-30%);
    -khtml-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes titleReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(-30%);
    -khtml-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes titleReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(-30%);
    -khtml-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes titleReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(-30%);
    -khtml-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes optionReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(30%);
    -khtml-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -o-transform: translateY(30%);
    transform: translateY(30%);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes optionReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(30%);
    -khtml-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -o-transform: translateY(30%);
    transform: translateY(30%);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes optionReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(30%);
    -khtml-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -o-transform: translateY(30%);
    transform: translateY(30%);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes optionReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(30%);
    -khtml-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -o-transform: translateY(30%);
    transform: translateY(30%);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes overlayReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
  }
}
@-moz-keyframes overlayReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
  }
}
@-o-keyframes overlayReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
  }
}
@keyframes overlayReveal {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
  }
}
@-webkit-keyframes indFade {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scale(0.75);
    -khtml-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
    background-color: #EEB111;
  }
  50% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    background-color: transparent;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scale(1.2);
    -khtml-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-moz-keyframes indFade {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scale(0.75);
    -khtml-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
    background-color: #EEB111;
  }
  50% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    background-color: transparent;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scale(1.2);
    -khtml-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-o-keyframes indFade {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scale(0.75);
    -khtml-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
    background-color: #EEB111;
  }
  50% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    background-color: transparent;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scale(1.2);
    -khtml-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes indFade {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scale(0.75);
    -khtml-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
    background-color: #EEB111;
  }
  50% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    background-color: transparent;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: scale(1.2);
    -khtml-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-webkit-keyframes indRing {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    -o-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
  50% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -o-transform: translateY(-50%) translateX(-50%) scale(1.5);
    transform: translateY(-50%) translateX(-50%) scale(1.5);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    -o-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
}
@-moz-keyframes indRing {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    -o-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
  50% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -o-transform: translateY(-50%) translateX(-50%) scale(1.5);
    transform: translateY(-50%) translateX(-50%) scale(1.5);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    -o-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
}
@-o-keyframes indRing {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    -o-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
  50% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -o-transform: translateY(-50%) translateX(-50%) scale(1.5);
    transform: translateY(-50%) translateX(-50%) scale(1.5);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    -o-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
}
@keyframes indRing {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    -o-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
  50% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1.5);
    -o-transform: translateY(-50%) translateX(-50%) scale(1.5);
    transform: translateY(-50%) translateX(-50%) scale(1.5);
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    -o-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    height: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    height: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    height: 0;
  }
}
@keyframes fadeOut {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
    height: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 1;
  }
}
@-webkit-keyframes fadeOutZoom {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1.4);
    -khtml-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}
@-moz-keyframes fadeOutZoom {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1.4);
    -khtml-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}
@-o-keyframes fadeOutZoom {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1.4);
    -khtml-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes fadeOutZoom {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1.4);
    -khtml-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}
@-webkit-keyframes fadeInZoom {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1.3);
    -khtml-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes fadeInZoom {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1.3);
    -khtml-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes fadeInZoom {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1.3);
    -khtml-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeInZoom {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1.3);
    -khtml-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes bgToLight {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    background-color: #000;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    background-color: #f9f9f9;
  }
}
@-moz-keyframes bgToLight {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    background-color: #000;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    background-color: #f9f9f9;
  }
}
@-o-keyframes bgToLight {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    background-color: #000;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    background-color: #f9f9f9;
  }
}
@keyframes bgToLight {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    background-color: #000;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    background-color: #f9f9f9;
  }
}
@-webkit-keyframes toTop {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes toTop {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes toTop {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes toTop {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes toLeft {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    left: 0;
  }
}
@-moz-keyframes toLeft {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    left: 0;
  }
}
@-o-keyframes toLeft {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    left: 0;
  }
}
@keyframes toLeft {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    left: 0;
  }
}
@-webkit-keyframes toLeftPartial {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    left: 100%;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    left: 240px;
  }
}
@-moz-keyframes toLeftPartial {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    left: 100%;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    left: 240px;
  }
}
@-o-keyframes toLeftPartial {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    left: 100%;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    left: 240px;
  }
}
@keyframes toLeftPartial {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    left: 100%;
  }
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -khtml-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    left: 240px;
  }
}
#vid_poster {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
#vid_poster:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 100%);
  opacity: 1;
  z-index: 2;
}

#itc-vid {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

@media (max-width: 760px) {
  #vid_poster {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: #000 url("/content/dam/business-unit/whirlpool/en-us/marketing-content/site-assets/page-content/intuitive-touch-controls/images/care-hero-itc_mobile_v2.jpg?$12-col-desktop$") no-repeat center center;
    background-size: cover;
  }
  #vid_poster:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 100%);
    opacity: 1;
    z-index: 2;
  }

  #itc-vid {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}
#intuitive-touch-hero {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
}

#intuitive-touch-hero-container {
  padding: 0;
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 450px;
  text-align: center;
  color: #fff;
}
@media (min-width: 500px) {
  #intuitive-touch-hero-container {
    padding: 1.5rem 0 0;
  }
}
@media (min-width: 992px) {
  #intuitive-touch-hero-container {
    padding: 3rem 0 0;
    min-height: 700px;
  }
}
@media (min-width: 1400px) {
  #intuitive-touch-hero-container {
    padding: 3rem 0 0;
    min-height: 750px;
  }
}
#intuitive-touch-hero-container:before, #intuitive-touch-hero-container:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#intuitive-touch-hero-container:before {
  z-index: 2;
}
#intuitive-touch-hero-container:after {
  z-index: 1;
}
#intuitive-touch-hero-container.reveal {
  background: #000;
}
#intuitive-touch-hero-container.reveal:before {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.95) 0%, transparent 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.95) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%, transparent 100%);
  opacity: 1;
  z-index: 2;
}
@media (min-width: 760px) {
  #intuitive-touch-hero-container.reveal:before {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  }
}
#intuitive-touch-hero-container.reveal:after {
  content: '';
  background: #000 url("/content/dam/business-unit/whirlpool/en-us/marketing-content/site-assets/page-content/intuitive-touch-controls/images/header_set-mobile.jpg?$12-col-desktop$") no-repeat top center;
  background-size: cover;
  -webkit-animation: 0.5s 0s 1 both fadeIn;
  -khtml-animation: 0.5s 0s 1 both fadeIn;
  -moz-animation: 0.5s 0s 1 both fadeIn;
  -ms-animation: 0.5s 0s 1 both fadeIn;
  -o-animation: 0.5s 0s 1 both fadeIn;
  animation: 0.5s 0s 1 both fadeIn;
}
@media (min-width: 760px) {
  #intuitive-touch-hero-container.reveal:after {
    background: #000 url("/content/dam/business-unit/whirlpool/en-us/marketing-content/site-assets/page-content/intuitive-touch-controls/images/header_set.jpg?$12-col-desktop$") no-repeat top center;
  }
}
#intuitive-touch-hero-container.active {
  color: #000;
  background: #000;
  -webkit-animation: 0.5s 0.25s 1 both bgToLight;
  -khtml-animation: 0.5s 0.25s 1 both bgToLight;
  -moz-animation: 0.5s 0.25s 1 both bgToLight;
  -ms-animation: 0.5s 0.25s 1 both bgToLight;
  -o-animation: 0.5s 0.25s 1 both bgToLight;
  animation: 0.5s 0.25s 1 both bgToLight;
  -webkit-transform-origin: top;
  -khtml-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
#intuitive-touch-hero-container.active:before, #intuitive-touch-hero-container.active:after {
  opacity: 1;
  -webkit-animation: 0.5s 0.125s 1 both fadeOutZoom;
  -khtml-animation: 0.5s 0.125s 1 both fadeOutZoom;
  -moz-animation: 0.5s 0.125s 1 both fadeOutZoom;
  -ms-animation: 0.5s 0.125s 1 both fadeOutZoom;
  -o-animation: 0.5s 0.125s 1 both fadeOutZoom;
  animation: 0.5s 0.125s 1 both fadeOutZoom;
  -webkit-transform-origin: top;
  -khtml-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header {
  z-index: 10;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header.initial {
  -webkit-transform: translateY(25vh);
  -khtml-transform: translateY(25vh);
  -moz-transform: translateY(25vh);
  -ms-transform: translateY(25vh);
  -o-transform: translateY(25vh);
  transform: translateY(25vh);
  -webkit-transform-origin: top;
  -khtml-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header.reveal {
  -webkit-transform: translateY(25vh);
  -khtml-transform: translateY(25vh);
  -moz-transform: translateY(25vh);
  -ms-transform: translateY(25vh);
  -o-transform: translateY(25vh);
  transform: translateY(25vh);
  -webkit-animation: 1.25s 0s 1 both toTop;
  -khtml-animation: 1.25s 0s 1 both toTop;
  -moz-animation: 1.25s 0s 1 both toTop;
  -ms-animation: 1.25s 0s 1 both toTop;
  -o-animation: 1.25s 0s 1 both toTop;
  animation: 1.25s 0s 1 both toTop;
  -webkit-transform-origin: top;
  -khtml-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
@media (min-width: 992px) {
  #intuitive-touch-hero-container .intuitive-touch-hero-header {
    padding: 3rem 0 0;
  }
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .feature__title {
  display: none;
  opacity: 0;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .feature__title.active {
  display: block;
  opacity: 0;
  -webkit-transform: translateY(-30%);
  -khtml-transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
  transform: translateY(-30%);
  -webkit-animation: 0.5s 0s 1 both titleReveal;
  -khtml-animation: 0.5s 0s 1 both titleReveal;
  -moz-animation: 0.5s 0s 1 both titleReveal;
  -ms-animation: 0.5s 0s 1 both titleReveal;
  -o-animation: 0.5s 0s 1 both titleReveal;
  animation: 0.5s 0s 1 both titleReveal;
  -webkit-transform-origin: top;
  -khtml-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .feature__title h2 {
  color: #000;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction {
  font-family: 'Helvetica Neue', 'Helvetica Neue LT W01_55', 'Helvetica Neue LT W01_71488914', Helvetica, Arial, sans-serif;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title {
  display: none;
  opacity: 0;
  margin-bottom: 3rem;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title h2 {
  color: #fff;
  position: relative;
  display: inline-block;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title h2:after {
  content: '';
  position: absolute;
  height: 4px;
  background-color: #EEB111;
  right: 0;
  bottom: -2rem;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title h2 span {
  display: inline-block;
  position: relative;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title h2 span:after {
  content: '';
  position: absolute;
  height: 4px;
  background-color: #EEB111;
  right: 0;
  left: 100%;
  bottom: -2rem;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title.reveal {
  display: block;
  opacity: 1;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title.reveal h2:after {
  left: 100%;
  -webkit-animation: 1.25s 0s 1 both toLeft;
  -khtml-animation: 1.25s 0s 1 both toLeft;
  -moz-animation: 1.25s 0s 1 both toLeft;
  -ms-animation: 1.25s 0s 1 both toLeft;
  -o-animation: 1.25s 0s 1 both toLeft;
  animation: 1.25s 0s 1 both toLeft;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title.reveal span {
  display: inline-block;
  position: relative;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title.reveal span:after {
  left: 0;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title.initial {
  display: block;
  opacity: 1;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title.initial h2 {
  -webkit-animation: 1s 0s 1 both fadeInZoom;
  -khtml-animation: 1s 0s 1 both fadeInZoom;
  -moz-animation: 1s 0s 1 both fadeInZoom;
  -ms-animation: 1s 0s 1 both fadeInZoom;
  -o-animation: 1s 0s 1 both fadeInZoom;
  animation: 1s 0s 1 both fadeInZoom;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title.initial h2 span {
  -webkit-animation: 1s 2s 1 both fadeInZoom;
  -khtml-animation: 1s 2s 1 both fadeInZoom;
  -moz-animation: 1s 2s 1 both fadeInZoom;
  -ms-animation: 1s 2s 1 both fadeInZoom;
  -o-animation: 1s 2s 1 both fadeInZoom;
  animation: 1s 2s 1 both fadeInZoom;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-title.initial h2 span:after {
  left: 100%;
  -webkit-animation: 0.5s 2.75s 1 both toLeft;
  -khtml-animation: 0.5s 2.75s 1 both toLeft;
  -moz-animation: 0.5s 2.75s 1 both toLeft;
  -ms-animation: 0.5s 2.75s 1 both toLeft;
  -o-animation: 0.5s 2.75s 1 both toLeft;
  animation: 0.5s 2.75s 1 both toLeft;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-body {
  display: none;
  opacity: 0;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-body.reveal {
  display: block;
  -webkit-transform: translateY(-30%);
  -khtml-transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
  transform: translateY(-30%);
  -webkit-animation: 1s 1s 1 both titleReveal;
  -khtml-animation: 1s 1s 1 both titleReveal;
  -moz-animation: 1s 1s 1 both titleReveal;
  -ms-animation: 1s 1s 1 both titleReveal;
  -o-animation: 1s 1s 1 both titleReveal;
  animation: 1s 1s 1 both titleReveal;
  -webkit-transform-origin: top;
  -khtml-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-body p {
  color: #fff;
  font-weight: lighter;
  font-size: calc(16px + 0.5vw);
  line-height: 1.3;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Helvetica Neue', 'Helvetica Neue LT W01_55', 'Helvetica Neue LT W01_71488914', Helvetica, Arial, sans-serif;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction-body p.small_cta {
  font-size: 1.3rem;
  font-weight: 600;
}
#intuitive-touch-hero-container .intuitive-touch-hero-header .hero__introduction.inactive {
  opacity: 1;
  -webkit-animation: 0.5s 0s 1 both fadeOut;
  -khtml-animation: 0.5s 0s 1 both fadeOut;
  -moz-animation: 0.5s 0s 1 both fadeOut;
  -ms-animation: 0.5s 0s 1 both fadeOut;
  -o-animation: 0.5s 0s 1 both fadeOut;
  animation: 0.5s 0s 1 both fadeOut;
  -webkit-transform-origin: top;
  -khtml-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}

.option__list {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  opacity: 0;
  display: none;
}
.option__list.reveal {
  opacity: 0;
  display: flex;
  -webkit-animation: 1s 1.5s 1 both fadeIn;
  -khtml-animation: 1s 1.5s 1 both fadeIn;
  -moz-animation: 1s 1.5s 1 both fadeIn;
  -ms-animation: 1s 1.5s 1 both fadeIn;
  -o-animation: 1s 1.5s 1 both fadeIn;
  animation: 1s 1.5s 1 both fadeIn;
  -webkit-transform-origin: top;
  -khtml-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
@media (min-width: 500px) {
  .option__list {
    margin: 2rem 0 0;
  }
}
@media (min-width: 991px) {
  .option__list {
    margin: 4rem 0 0;
  }
}
.option__list li {
  flex-grow: 1;
  flex-basis: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 992px) {
  .option__list li {
    flex-basis: 16%;
    flex-wrap: nowrap;
  }
  .option__list li:not(:last-child) {
    border-right: 1px solid #e2e2e2;
  }
}
@media (max-width: 991px) {
  .option__list li {
    border-right: 1px solid #e2e2e2;
  }
  .option__list li:nth-child(3n+3) {
    border-right: none;
  }
  .option__list li:nth-child(-n+3) {
    border-bottom: 1px solid #e2e2e2;
  }
}
.option__list .option__list-item {
  display: block;
  padding: 1.5rem 0.25rem;
  flex-wrap: wrap;
  -webkit-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-family: 'Helvetica Neue', 'Helvetica Neue LT W01_55', 'Helvetica Neue LT W01_71488914', Helvetica, Arial, sans-serif;
}
@media (min-width: 992px) {
  .option__list .option__list-item {
    padding: 0;
  }
  .option__list .option__list-item:not(:last-child) {
    border-right: 1px solid #fff;
  }
}
.option__list .option__list-item .option__list-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3;
}
@media (min-width: 1250px) {
  .option__list .option__list-item .option__list-title {
    font-size: 1.3rem;
  }
}
.option__list .option__list-item .option__list-icon svg {
  height: 25px;
  fill: #fff;
  -webkit-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.option__list .option__list-item:hover, .option__list .option__list-item.active {
  color: #EEB111;
}
.option__list .option__list-item:hover a, .option__list .option__list-item.active a {
  color: #EEB111;
  text-decoration: none;
}
.option__list .option__list-item:hover .option__list-icon svg, .option__list .option__list-item.active .option__list-icon svg {
  fill: #EEB111;
}
.option__list .option__list-item:hover {
  cursor: pointer;
}
.option__list .option__list-item:hover .option__list-icon svg {
  -webkit-transform: scale(1.1);
  -khtml-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.option__list.active {
  opacity: 0;
  display: flex;
  -webkit-transform: translateY(-30%);
  -khtml-transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
  transform: translateY(-30%);
  -webkit-animation: 0.5s 0.5s 1 both titleReveal;
  -khtml-animation: 0.5s 0.5s 1 both titleReveal;
  -moz-animation: 0.5s 0.5s 1 both titleReveal;
  -ms-animation: 0.5s 0.5s 1 both titleReveal;
  -o-animation: 0.5s 0.5s 1 both titleReveal;
  animation: 0.5s 0.5s 1 both titleReveal;
  -webkit-transform-origin: top;
  -khtml-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
.option__list.active .option__list-item {
  color: #000;
  border-color: #e2e2e2;
}
.option__list.active .option__list-item .option__list-icon svg {
  fill: #000;
}
.option__list.active .option__list-item:hover, .option__list.active .option__list-item.active {
  color: #EEB111;
}
.option__list.active .option__list-item:hover a, .option__list.active .option__list-item.active a {
  color: #EEB111;
  text-decoration: none;
}
.option__list.active .option__list-item:hover .option__list-icon svg, .option__list.active .option__list-item.active .option__list-icon svg {
  fill: #EEB111;
}
.option__list.active .option__list-item:hover {
  cursor: pointer;
}

#intuitive-touch-panel {
  padding: 0;
  -webkit-box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px 2px 0 0;
  background-color: #fff;
  min-height: 230px;
  opacity: 0;
  visibility: hidden;
  display: none;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  #intuitive-touch-panel {
    min-height: 200px;
  }
}
@media (min-width: 768px) {
  #intuitive-touch-panel {
    padding: 1rem 0 1rem;
  }
}
@media (min-width: 992px) {
  #intuitive-touch-panel {
    padding: 4rem 2rem 2rem;
    margin-top: 4.5rem;
  }
}
@media (min-width: 1000px) {
  #intuitive-touch-panel {
    min-height: 300px;
  }
}
#intuitive-touch-panel.active {
  opacity: 0;
  display: block;
  visibility: visible;
  -webkit-transform: translateY(30%);
  -khtml-transform: translateY(30%);
  -moz-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -o-transform: translateY(30%);
  transform: translateY(30%);
  -webkit-animation: 0.5s 0s 1 both optionReveal;
  -khtml-animation: 0.5s 0s 1 both optionReveal;
  -moz-animation: 0.5s 0s 1 both optionReveal;
  -ms-animation: 0.5s 0s 1 both optionReveal;
  -o-animation: 0.5s 0s 1 both optionReveal;
  animation: 0.5s 0s 1 both optionReveal;
  -webkit-transform-origin: top;
  -khtml-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
#intuitive-touch-panel .option__content {
  opacity: 0;
  visibility: hidden;
  display: none;
  -webkit-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 992px) {
  #intuitive-touch-panel .option__content {
    justify-content: space-between;
    align-items: center;
  }
}
#intuitive-touch-panel .option__content.active {
  display: block;
  opacity: 0;
  visibility: visible;
  -webkit-animation: 0.25s 0.25s 1 both fadeIn;
  -khtml-animation: 0.25s 0.25s 1 both fadeIn;
  -moz-animation: 0.25s 0.25s 1 both fadeIn;
  -ms-animation: 0.25s 0.25s 1 both fadeIn;
  -o-animation: 0.25s 0.25s 1 both fadeIn;
  animation: 0.25s 0.25s 1 both fadeIn;
  -webkit-transform-origin: top;
  -khtml-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
@media (min-width: 992px) {
  #intuitive-touch-panel .option__content.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
#intuitive-touch-panel .option__content-title {
  font-size: 2rem;
  text-align: center;
  color: #000;
  line-height: 1.2;
  flex-grow: 1;
  font-weight: 600;
  margin: 1rem 0;
}
@media (min-width: 992px) {
  #intuitive-touch-panel .option__content-title {
    text-align: left;
    font-size: 2.25rem;
    margin: 0;
  }
}
#intuitive-touch-panel .option__content-info {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-grow: 2;
}
#intuitive-touch-panel .option__content-info .option {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
#intuitive-touch-panel .option__content-info .option:not(:last-child) {
  border-right: 1px solid #e2e2e2;
}
@media (min-width: 992px) {
  #intuitive-touch-panel .option__content-info .option {
    flex-basis: 45%;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    margin-bottom: 0;
    padding: 2rem 1.5rem;
  }
}
#intuitive-touch-panel .option__content-info .option .info-label {
  font-weight: 600;
  color: #7B7B7B;
  text-transform: uppercase;
  font-size: 1rem;
}
@media (min-width: 992px) {
  #intuitive-touch-panel .option__content-info .option .info-label {
    display: inline-block;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    width: 55%;
    font-size: 1.3rem;
    background-color: #fff;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -khtml-transform: translateY(-50%) translateX(-50%) scale(1);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    -o-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
}
#intuitive-touch-panel .option__content-info .option .info-title {
  color: #EEB111;
  font-size: calc(20px + 0.5vw);
  line-height: 1.2;
}
#intuitive-touch-panel .option__content-info .option .info-title sup {
  top: -2em;
  font-size: 25%;
}
@media (min-width: 992px) {
  #intuitive-touch-panel .option__content-info .option .info-title {
    margin: 1rem 0;
    font-size: 3rem;
  }
}
#intuitive-touch-panel .option__content-info .option .info-desc {
  font-size: calc(8px + 0.5vw);
}
#intuitive-touch-panel .option__content-tip {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  height: 0;
  flex-grow: 1;
}
#intuitive-touch-panel .option__content-tip strong {
  font-weight: 600;
}
#intuitive-touch-panel .option__content-tip svg {
  height: 18px;
  fill: #000;
  display: block;
  margin: 0 auto 0.5rem;
}
@media (min-width: 992px) {
  #intuitive-touch-panel .option__content-tip {
    opacity: 1;
    visibility: visible;
    height: auto;
  }
}

#intuitive-touch-console {
  background-color: #fff;
  margin-top: -50px;
  opacity: 0;
  visibility: hidden;
  display: none;
  position: relative;
}
@media (min-width: 768px) {
  #intuitive-touch-console {
    background-color: transparent;
  }
}
@media (min-width: 1148px) {
  #intuitive-touch-console {
    margin-top: -100px;
  }
}
#intuitive-touch-console.active {
  opacity: 0;
  display: block;
  visibility: visible;
  -webkit-transform: translateY(30%);
  -khtml-transform: translateY(30%);
  -moz-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -o-transform: translateY(30%);
  transform: translateY(30%);
  -webkit-animation: 0.5s 0s 1 both optionReveal;
  -khtml-animation: 0.5s 0s 1 both optionReveal;
  -moz-animation: 0.5s 0s 1 both optionReveal;
  -ms-animation: 0.5s 0s 1 both optionReveal;
  -o-animation: 0.5s 0s 1 both optionReveal;
  animation: 0.5s 0s 1 both optionReveal;
  -webkit-transform-origin: top;
  -khtml-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
#intuitive-touch-console .console__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  display: none;
  -webkit-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#intuitive-touch-console .console__overlay.active {
  opacity: 1;
  display: block;
  visibility: visible;
  /*@include css3-prefix(animation, .25s .25s 1 both overlayReveal);
  @include css3-prefix(transform-origin, top);*/
}
#intuitive-touch-console .console__overlay .wtw-ind,
#intuitive-touch-console .console__overlay .htw-ind {
  position: absolute;
  display: block;
  visibility: visible;
  opacity: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #EEB111;
  border-radius: 12px;
  top: 29%;
  -webkit-transform-origin: center;
  -khtml-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}
@media (max-width: 850px) {
  #intuitive-touch-console .console__overlay .wtw-ind,
  #intuitive-touch-console .console__overlay .htw-ind {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
#intuitive-touch-console .console__overlay .wtw-ind:after,
#intuitive-touch-console .console__overlay .htw-ind:after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  border: 1px solid #EEB111;
  border-radius: 15px;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -khtml-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform-origin: center;
  -khtml-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}
#intuitive-touch-console .console__overlay .wtw-ind {
  -webkit-animation: 2.5s 0s infinite both indFade;
  -khtml-animation: 2.5s 0s infinite both indFade;
  -moz-animation: 2.5s 0s infinite both indFade;
  -ms-animation: 2.5s 0s infinite both indFade;
  -o-animation: 2.5s 0s infinite both indFade;
  animation: 2.5s 0s infinite both indFade;
}
#intuitive-touch-console .console__overlay .wtw-ind:after {
  -webkit-animation: 2.5s 0s infinite both indRing;
  -khtml-animation: 2.5s 0s infinite both indRing;
  -moz-animation: 2.5s 0s infinite both indRing;
  -ms-animation: 2.5s 0s infinite both indRing;
  -o-animation: 2.5s 0s infinite both indRing;
  animation: 2.5s 0s infinite both indRing;
}
#intuitive-touch-console .console__overlay .htw-ind {
  -webkit-animation: 2.5s 0.75s infinite both indFade;
  -khtml-animation: 2.5s 0.75s infinite both indFade;
  -moz-animation: 2.5s 0.75s infinite both indFade;
  -ms-animation: 2.5s 0.75s infinite both indFade;
  -o-animation: 2.5s 0.75s infinite both indFade;
  animation: 2.5s 0.75s infinite both indFade;
}
#intuitive-touch-console .console__overlay .htw-ind:after {
  -webkit-animation: 2.5s 0.75s infinite both indRing;
  -khtml-animation: 2.5s 0.75s infinite both indRing;
  -moz-animation: 2.5s 0.75s infinite both indRing;
  -ms-animation: 2.5s 0.75s infinite both indRing;
  -o-animation: 2.5s 0.75s infinite both indRing;
  animation: 2.5s 0.75s infinite both indRing;
}
#intuitive-touch-console #sportswear-overlay .wtw-ind {
  left: 30%;
}
#intuitive-touch-console #sportswear-overlay .htw-ind {
  right: 29%;
}
#intuitive-touch-console #comforters-overlay .wtw-ind {
  left: 41%;
}
#intuitive-touch-console #comforters-overlay .htw-ind {
  right: 29%;
}
#intuitive-touch-console #baby__clothes-overlay .wtw-ind {
  left: 30%;
}
#intuitive-touch-console #baby__clothes-overlay .htw-ind {
  right: 42%;
}
#intuitive-touch-console #jeans-overlay .wtw-ind {
  left: 21%;
}
#intuitive-touch-console #jeans-overlay .htw-ind {
  right: 34%;
}
#intuitive-touch-console #handwash__fabrics-overlay .wtw-ind {
  left: 35%;
}
#intuitive-touch-console #handwash__fabrics-overlay .htw-ind {
  right: 34%;
}
#intuitive-touch-console #kidswear-overlay .wtw-ind {
  left: 21%;
}
#intuitive-touch-console #kidswear-overlay .htw-ind {
  right: 22%;
}
#intuitive-touch-console img {
  width: 100%;
  height: auto;
}
